$max-width: 1400px;

$box-color1: rgb(250, 161, 129);
$box-color2: rgb(129, 197, 250);
$box-color3: rgb(173, 250, 129);
$box-color4: rgb(250, 129, 228);

$container-color1: rgb(240, 250, 129);
$container-color2: rgb(167, 129, 250);
